<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">party</directory>
        </include>
        <exclude>
            <directory suffix=".php">party/endpoints</directory>
            <directory suffix=".php">party/migrations</directory>
            <file>party/cleanup.php</file>
            <file>party/migrate.php</file>
        </exclude>
    </coverage>
</phpunit>